# dev
mypy>=0.920
pytest>=6.2.5
pylint>=2.12.2
# dependencies
httpx>=0.22.0
python-dotenv>=0.20.0
python-mpv>=1.0.1
git+https://git.ars-virtualis.org/yul/fix_encoding@master
git+https://git.ars-virtualis.org/yul/fxideo@master
git+https://git.ars-virtualis.org/yul/actors@master
